@import 'tailwindcss';

@theme inline {
    --font-roboto: var(--font-roboto);
    --font-playfair: var(--font-playfair);
    --color-primary: #121221;
    --color-secondary: #444444;
}

@layer utilities {
    .container {
        max-width: 1180px;
        margin: 0 auto;
        padding: 5px;
        width: 100%;
    }
}
